{% extends "layout3.html" %}

{% block title %}
    Flights
{% endblock %}

{% block blody %}
    <h1>Detail Information</h1>
    <h2>Flight</h2>
    
    <ul>
        
        <li>Origin:{{flight.origin}}</li>
        <li>Destination:{{flight.destination}}</li>
        <li>Duration:{{flight.duration}} minutes</li>
    </ul>
    <h2>Passenger</h2>
    <ul>
        {% for pass in passengers %}
            <li>{{pass.name}}</li>
        {% else %}
            <li>No passngers.</li>
        {% endfor %}
    </ul>
{% endblock %}